.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1{
  font-family: 'Mogra', cursive;
    color:#306087;
}

h2{
  color:#037fb0;
}

button{
  font-size: 1rem;
}
.banner{
  height:60px;
  /* background-color: #303e4e; */
  background-color: #eeeeee;
  display: flex;
}
.banner img{
  padding: .5rem;
}
.banner h1{
  justify-content: flex-end;
}
